@using ApplyLog.CVModels
@model List<LanguageEntry>

<a asp-action="AddLanguage">Add Language</a>

<hr />

@if (ViewBag.Status != null)
{
    if (ViewBag.Status.Contains("Succesfully"))
    {
        <p class="text-success">@ViewBag.Status</p>
    }
    else
    {
        <p class="text-danger">@ViewBag.Status</p>
    }
}
<hr />

@if (Model.Count == 0)
{
    <p>
        You havent added any Languages yet ! <br />
        Do it now so you can Generate CV with our <a asp-controller="AI" asp-action="Index">AI Assistant</a>
    </p>
}
else
{
    foreach (var s in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <span class="fw-bold">@s.LanguageName</span>
            </div>
            <div class="col-md-4 text-center">
                @s.Level
            </div>
            <div class="col-md-4 text-center">
                <a asp-controller="Profile" asp-action="EditLanguage" asp-route-id="@s.Id" title="Edit School"><i class="bi bi-pencil-square fs-5"></i></a> |
                <a asp-controller="Profile" asp-action="DeleteLanguage" asp-route-id="@s.Id" title="Delete School"><i class="bi bi-trash text-danger fs-5"></i></a>
            </div>
        </div>

    }
}

<hr />
<a asp-action="ManageCV">Back to List</a>
