@model List<TODO>
@{
    ViewData["Title"] = "Index";
}
<h1>TODO List</h1>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Create">Create New TODO</a></p>
<hr />
@if(Model.Count() == 0){
    <p>You have no TODOs!</p>
} 
else
{
    <input type="search" id="search" class="form-control m-tb" placeholder="Search" />
    <p>You have @Model.Count TODOs!</p>
    <table class="table">
        <tr>
            <th>Titel</th>
            <th>Priority</th>
            <th>Deadline</th>   
            <th>Action</th>
        </tr>
        @foreach (var t in @Model)
        {
            <tr>
                <td>@t.Titel</td>
                <td>@t.PriorityLevel</td>
                <td>@t.Deadline.ToString("dd.MM.yyyy")</td>
                <td>
                    <a class="btn btn-warning" asp-area="" asp-controller="Todo" asp-action="View" asp-route-id="@t.ID">View</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Todo" asp-action="Edit" asp-route-id="@t.ID">Edit</a>
                    <a class="btn btn-danger" asp-area="" asp-controller="Todo" asp-action="Delete" asp-route-id="@t.ID">Delete</a>
                </td>
            </tr>

        }
    </table>

}

