@model List<TODO>
@{
    ViewData["Title"] = "TODO Index";
}
<h1>TODO List</h1>
<p><a asp-area="" asp-controller="Todo" asp-action="Create">Create New TODO</a></p>
<hr />
@if(Model.Count() == 0){
    <p>You have no TODOs!</p>
} 
else
{
    <input type="search" id="search" class="form-control m-tb" placeholder="Search" />
    <p>You have @Model.Count TODOs!</p>
    <table class="table">
        <tr>
            <th>Titel</th>
            <th>Priority</th>
            <th class="text-end">Deadline</th>
            <th class="text-end">Options</th>
        </tr>
        @foreach (var t in @Model)
        {
            <tr>
                <td>@t.Titel</td>
                <td>
                    @if(t.PriorityLevel == PriorityLevel.High)
                    {
                        <span>❗</span>
                    }
                    @t.PriorityLevel
                </td>
                <td class="text-end">
                    @if(DateTime.Now > t.Deadline)
                    {
                        <span style="color: red;">&#10008;</span>
                    } 
                    @t.Deadline
                </td>
                <td class="text-end">
                    <a asp-area="" asp-controller="Todo" asp-action="View" asp-route-id="@t.ID">View</a> | 
                    <a asp-area="" asp-controller="Todo" asp-action="Edit" asp-route-id="@t.ID">Edit</a> | 
                    <a asp-area="" asp-controller="Todo" asp-action="Delete" asp-route-id="@t.ID">Delete</a>
                </td>
            </tr>

        }
    </table>

}

