@model List<TODO>
@{
    ViewData["Title"] = "Index";
}
<h1>TODO List</h1>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Create">Create New TODO</a></p>
<hr />
@if(Model == null){
    <p>You have no TODOs!</p>
} 
else
{
    <p>You have @Model.Count TODOs!</p>
    <table class="table">
        <tr>
            <th>Titel</th>
            <th>Priority</th>
            <th>Deadline</th>
            <th>Description</th>
            <th>Created</th>
        </tr>
        @foreach (var t in @Model)
        {
            <tr>
                <td>@t.Titel</td>
                <td>@t.PriorityLevel</td>
                <td>@t.Deadline.ToString()</td>
                <td>@t.Describtion</td>
                <td>@t.CreationTime.ToString()</td>
            </tr>

        }
    </table>

}

