<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-jobTitel="@ViewBag.jobTitel" asp-route-Ort="@ViewBag.Ort" asp-route-Radius="@ViewBag.Radius" asp-route-page="1"><span aria-hidden="true">&laquo;</span></a></li>
        @for (int i = 1; i <= ViewBag.MaxPages; i++)
        {
            @if (ViewBag.CurrentPage - 5 < i && ViewBag.CurrentPage + 5 > i)
            {
                if (i == ViewBag.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" asp-action="Index" asp-route-jobTitel="@ViewBag.jobTitel" asp-route-Ort="@ViewBag.Ort" asp-route-Radius="@ViewBag.Radius" asp-route-page="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-jobTitel="@ViewBag.jobTitel" asp-route-Ort="@ViewBag.Ort" asp-route-Radius="@ViewBag.Radius" asp-route-page="@i">@i</a></li>
                }
            }
        }
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-jobTitel="@ViewBag.jobTitel" asp-route-Ort="@ViewBag.Ort" asp-route-Radius="@ViewBag.Radius" asp-route-page="@ViewBag.MaxPages"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
</nav>