@model List<Favorite>
@{
    ViewData["Title"] = "Favorites";
}

<h1>Favorites</h1>
@foreach(var fav in Model){
    <div class="border rounded">
    <div class="row">
        <div class="col-sm-12 text-center m-2">
            @{
                string url = "https://www.arbeitsagentur.de/jobsuche/suche?id=" + fav.Refnr;
            }
            <a href="@url" target="_blank" class="fw-bold text-primary text-decoration-none fs-5" title="@fav.Beruf">
                @if (fav.Titel == null || fav.Titel == "")
                {
                    @fav.Beruf
                }
                else
                {
                    @fav.Titel
                }
            </a>
                <a asp-action="Delete" asp-route-Refnr="@fav.Refnr" title="Delete"><i class="bi bi-trash text-danger fs-5"></i></a>
        </div>
    </div>
        <div class="row text-center">
            <div class="col-sm-1">
                <i class="bi bi-house-door"></i>
            </div>
            <div class="col-sm-2">
                @fav.Firma
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
                <i class="bi bi-calendar"></i>
            </div>
            <div class="col-sm-2">
                @fav.Saved
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
                <i class="bi bi-pin-angle"></i>
            </div>
            <div class="col-sm-2">
                @fav.Refnr
            </div>
            <div class="col-sm-1">
            </div>
            <div class="m-2">
            </div>
        </div>
    </div>
    <div class="m-2">
    </div>
}

