@using ApplyLog.ApiModels
@model List<Stellenangebote>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
    string name = "";
}

<h1>Job Search</h1>
<div class="text-left">
    <ul>
        <li>Here you can search for new jobs across Germany!</li>
        <li>Just enter the job title you are looking for (e.g., "Bäcker", "Koch", "Fachinformatiker").</li>
        <li>Pick the city where you want to work.</li>
        <li>And set how far around the city you want to search (in kilometers).</li>
        <li>Click search — and discover your next career move!.</li>
    </ul>
</div>
@if(User.Identity.IsAuthenticated){
    <hr />
    <a asp-action="Favorites" class="nav-link" title="Show my Favorites">Show Favorites</a>
}
<hr />
<form asp-action="Index" asp-controller="JobSearch" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Job Titel</span>
        </div>
        <input type="text" class="form-control w-50" placeholder="Bäcker, Koch, Fachinformatiker" name="jobTitel" value="@ViewBag.jobTitel">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">City</span>
        </div>
        <input type="text" class="form-control" placeholder="Berlin" name="Ort" value="@ViewBag.Ort">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Radius</span>
        </div>
        <input type="text" class="form-control" placeholder="25 km" name="radius" value="@ViewBag.Radius">
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Search"/>
        </div>
    </div>
</form>

@if (Model.Count == 0 || Model == null)
{
    if(ViewBag.Problem != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Problem
        </div>
    }
}
else
{
    <hr />
    <partial name="_jobPages" />
    <hr />
    @foreach (var job in Model)
    {
        name = "fav" + counter;
        <div class="border rounded">
        <div class="row">
            <div class="col-sm-12 text-center m-2">
                @{
                    string url = "https://www.arbeitsagentur.de/jobsuche/suche?id=" + job.refnr;
                }
                <a href="@url" target="_blank" class="fw-bold text-primary text-decoration-none fs-5" title="@job.beruf">
                    @if (job.titel == null || job.titel == "")
                    {
                        @job.beruf
                    }
                    else
                    {
                        @job.titel
                    }
                    </a>
                    @if(User.Identity.IsAuthenticated){

                        <a asp-action="FavoriteSave" class="text-danger fs-5" id="@name" onclick="change('@name')" asp-route-Refnr="@job.refnr" asp-route-Beruf="@job.beruf" asp-route-Titel="@job.titel" asp-route-Firma="@job.arbeitgeber" title="Favorites">
                            @if(ViewBag.Favorites.Contains(job.refnr)){
                                <i class="bi bi-heart-fill"></i>
                            } else {
                                <i class="bi bi-heart"></i>
                            }
                            @{ counter = counter + 1; }
                        </a>
                    }
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-1">
                 <i class="bi bi-house-door"></i>
            </div>
            <div class="col-sm-2">
                @job.arbeitsort.ort
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
                <i class="bi bi-calendar"></i>
            </div>
            <div class="col-sm-2">
                @job.aktuelleVeroeffentlichungsdatum
            </div>
                <div class="col-sm-1">
                </div>
            <div class="col-sm-1">
                <i class="bi bi-rocket-takeoff"></i>
            </div>
            <div class="col-sm-2">
                @job.eintrittsdatum
            </div>
                <div class="col-sm-1">
                </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12 text-center">
                    <span class="fw-bold">@job.beruf</span> by <span class="text-decoration-underline">@job.arbeitgeber</span>
            </div>
            <div class="m-2">
            </div>
        </div>
        </div>
        <div class="m-2">
        </div>
    }

    <partial name="_jobPages" />
}


