@using ApplyLog.ApiModels
@model List<Stellenangebote>
@{
    ViewData["Title"] = "Index";
}

<h1>Job Search</h1>
<div class="text-left">
    <ul>
        <li>Here you can search for new jobs across Germany!</li>
        <li>Just enter the job title you are looking for (e.g., "Bäcker", "Koch", "Fachinformatiker").</li>
        <li>Pick the city where you want to work.</li>
        <li>And set how far around the city you want to search (in kilometers).</li>
        <li>Click search — and discover your next career move!.</li>
    </ul>
</div>
<hr />
<form asp-action="Index" asp-controller="JobSearch" method="post">
    <div class="input-group">
        <input type="text" class="form-control w-50" placeholder="Job Titel" name="jobTitel" value="@ViewBag.jobTitel">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">City</span>
        </div>
        <input type="text" class="form-control" placeholder="Berlin" name="Ort" value="@ViewBag.Ort">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Radius</span>
        </div>
        <input type="text" class="form-control" placeholder="25 km" name="radius" value="@ViewBag.Radius">
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Search"/>
        </div>
    </div>
</form>

@if (Model.Count == 0 || Model == null)
{
    if(ViewBag.Problem != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Problem
        </div>
    }
}
else
{
    <hr />
        <partial name="_jobPages" />
    <hr />
    @foreach (var job in Model)
    {
        <table class="table table-bordered">
            <tr class="table-active">
                @{
                    string url = "https://www.arbeitsagentur.de/jobsuche/suche?id=" + job.refnr;
                }
                <td colspan="2" class="text-center">
                    <a href="@url" target="_blank" class="fw-bold text-danger nav-link">
                        @if (job.titel == null || job.titel == "")
                        {
                            @job.beruf
                        }
                        else
                        {
                            @job.titel <span>( @job.beruf )</span>
                        }
                    </a>
                </td>
            </tr>
            <tr>
                <th class="w-25">Company</th>
                <td>@job.arbeitgeber</td>
            </tr>
            <tr>
                <th class="w-25">City</th>
                <td>@job.arbeitsort.ort</td>
            </tr>
            <tr>
                <th class="w-25">Posted</th>
                <td>@job.aktuelleVeroeffentlichungsdatum</td>
            </tr>
        </table>
        <hr />
    }

    <partial name="_jobPages" />
}




