@model Tuple<List<TODO>, List<Bewerbung>>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ApplyLog</h1>
    <form asp-action="Search" asp-controller="Home" data-ajax="true" data-ajax-update="#result" data-ajax-method="GET" data-ajax-mode="replace" id="formSearch">
        <input type="search" id="search" name="search" class="form-control m-tb" placeholder="Search something" onkeyup="searchDBFull();"/>
    </form>
   <div id="result">
   </div>
    <table class="table table-bordered">
        <tr>
            <th class="w-50">Applications: @Model.Item2.Count</th>
            <th class="w-50">TODOs: @Model.Item1.Count</th>
        </tr>
        <tr>
            <td class="w-50">
                @if (Model.Item2.Count == 0)
                {
                    <p>No Applications!</p>
                }
                else
                {
                    <table class="table">
                        @foreach (var app in Model.Item2)
                        {
                            <tr>
                                <td class="text-start">@app.position</td>
                                <td class="text-end">
                                    <a asp-controller="Application" asp-action="View" asp-route-id="@app.id">View</a> | 
                                    <a asp-controller="Application" asp-action="Edit" asp-route-id="@app.id">Edit</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
            <td class="w-50">
                @if (Model.Item1.Count == 0)
                {
                    <p>No TODOs!</p>
                }
                else
                {
                    <table class="table">
                        @foreach (var todo in Model.Item1)
                        {
                            <tr>
                                <td class="text-start">
                                    @if (todo.PriorityLevel == PriorityLevel.High)
                                    {
                                        <span>❗</span>
                                    }
                                    @todo.Titel
                                    </td>
                                <td class="text-end">
                                    <a asp-controller="Todo" asp-action="View" asp-route-id="@todo.ID">View</a> | 
                                    <a asp-controller="Todo" asp-action="Edit" asp-route-id="@todo.ID">Edit</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
        </tr>
    </table>
    <hr />
    <table class="table">
        <tr>
            <td class="w-50">
                <h2>Applications GeoChart</h2>
                <div id="chartContainer2">GeoDiagram Loading</div>
            </td>
            <td class="w-50">
                <h2>TODO Priority</h2>
                <div id="chartContainer">Diagram Loading</div>
            </td>
        </tr>
    </table>
</div>

<script>
    $(function (){
        $("#chartContainer2").load("/Home/GeoChart");
    });
    $(function (){
        $("#chartContainer").load("/Home/TodoData");
    });
    function searchDBFull(){
        $("#formSearch").submit();
    }
</script>
