@model Tuple<List<TODO>, List<Bewerbung>>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ApplyLog</h1>
    <input type="search" id="search" class="form-control m-tb" placeholder="Search" />
    <table class="table table-bordered">
        <tr>
            <th>Applications: @Model.Item2.Count</th>
            <th>TODOs: @Model.Item1.Count</th>
        </tr>
        <tr>
            <td>
                @if (Model.Item2.Count == 0)
                {
                    <p>No Applications!</p>
                }
                else
                {
                    <table class="table">
                        @foreach (var app in Model.Item2)
                        {
                            <tr>
                                <td>@app.position</td>
                                <td class="text-end">
                                    <a class="btn btn-warning" asp-area="" asp-controller="Application" asp-action="View" asp-route-id="@app.id">View</a>
                                    <a class="btn btn-primary" asp-area="" asp-controller="Application" asp-action="Edit" asp-route-id="@app.id">Edit</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
            <td>
                @if (Model.Item1.Count == 0)
                {
                    <p>No TODOs!</p>
                }
                else
                {
                    <table class="table">
                        @foreach (var todo in Model.Item1)
                        {
                            <tr>
                                <td>@todo.Titel</td>
                                <td class="text-end">
                                    <a class="btn btn-warning" asp-area="" asp-controller="Todo" asp-action="View" asp-route-id="@todo.ID">View</a>
                                    <a class="btn btn-primary" asp-area="" asp-controller="Todo" asp-action="Edit" asp-route-id="@todo.ID">Edit</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
        </tr>
    </table>
    <hr />
    <p>GRAPHEN / BALKEN</p>
</div>
